services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bundestagswahl
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: npm run dev
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./data:/data:ro
    environment:
      DATABASE_URL: "postgresql://postgres:password@db:5432/bundestagswahl?schema=public"
      DATA_DIR: "/data"
    depends_on:
      - db
    ports:
      - "4000:4000"

volumes:
  db-data:
